<nav class="navbar navbar-expand-sm bg-white navbar-light justify-content-between">
  <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/soal">Daftar Soal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/paketsoal">Paket Soal</a>
      </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Dosen Pengampu</a>
    </li>
    <li class="nav-item">
      <iconify-icon icon="gridicons:user-circle" style="color: #c3cfd9;" width="35" height="35"></iconify-icon>
    </li>  
  </ul>
</nav>